<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.svg" %>
	</div>
	<div id="content">
		<h1>Hey, I'm Waleed Zahid</h1>
		<p>Welcome to my WZBlog</p>
		<p>You can edit, delete, comment, like or dislike a post.</p>
	</div>
</div>