<div id="page_wrapper">
    <h1>Terms and Conditions</h1>
    <div id="content">
        <p>If you Find any comment or post inappropriate</p>
        <p>Tell the admin by typing admindeletepostwithid for post</p>
        <p>Tell the admin by typing admindeletecommentwithid for comment</p>
        <p>Notice: Change id in their</p>
	</div>
</div>