<div id="page_wrapper">
    <h1>Terms and Conditions</h1>
    <div id="content">
        <p>If you Find any comment or post inappropriate</p>
        <p>Tell the admin by typing #admindeletethispost</p>
	</div>
</div>